
@{
    ViewBag.Title = "Index";
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    int sessionId = 0;
    int[] listSessionsId = new int[Model.Count()];
    for (int i = 0; i < Model.Count(); i++)
    {
        listSessionsId[i] = Model.ElementAt(i).SessionID;
    }
    if (Model.Count() > 0)
    {
        sessionId = Model.FirstOrDefault().SessionID;
    }
}
}
@using HmsService.ViewModels
@model IEnumerable<SessionViewModel>
<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Hoạt Động</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addActivityModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <li class="@(i == 0 ? "active" : "")" onclick="InitDatatable(@(i), @Model.ElementAt(i).SessionID); ChangeTabIndex(@(i), @Model.ElementAt(i).SessionID)"><a href="#tab_@(i)" data-toggle="tab">@Html.Raw(Model.ElementAt(i).Name)</a></li>
                    }
                </ul>
            </div>
            <!--Tab content-->
            <div class="tab-content">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <div class="tab-pane @(i == 0 ? "active" : "")" id="tab_@(i)">
                        <table class="table table-hover table-bordered" id="tblActivity@(i)">
                            <thead>
                                <tr>
                                    <th>Tên Hoạt Động</th>
                                    <th>Thời Gian Bắt đầu - Kết thúc</th>
                                    <th>Miêu Tả</th>
                                    <th>Tên phiên làm việc</th>
                                    <th>Chức Năng</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                }
                <!-- /.tab-pane -->
            </div>

        </div>


    </div>

</div>


<!--Add Activity Modal-->
<div class="modal fade" id="addActivityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Hoạt Động</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên Hoạt Động:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" id="addName" placeholder="Nhập tên hoạt động">
                    </div>
                    <div class="col-lg-offset-3 col-lg-9 div-name-error">
                        <p class="empty" id="act-name-error">Vui lòng nhập tên hoạt động</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Ngày Giờ:</label>

                    <div class="input-group col-sm-9">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="AddStartEndTime" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" id="addDescription" placeholder="Nhập miêu tả hoạt động">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="addActivity" data-dismiss="modal" type="button" class="btn btn-primary">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

        </div>
<div class="box-body">
    <table class="table table-hover table-bordered" id="tblActivity">
        <thead>
            <tr>
                <th>Tên hoạt động</th>
                <th>Thời gian bắt đầu - kết thúc</th>
                <th>Miêu tả</th>
                <th>Tên phiên</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>
    </div>
</div>
</div>
</div>

<!-- Modal -->
<div id="modalUpdateActivity" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Hoạt Động</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Tên<span class="required">*</span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="activityName" type="text" class="form-control" placeholder="Nhập tên hoạt động">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">
                        Thời gian Bắt đầu - Kết thúc<span class="required"></span>
                    </label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="startEndTime" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu tả</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <input id="activityDescription" type="text" class="form-control" placeholder="Nhập miêu tả">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update-activity" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtActivityId" value="" />
<input type="hidden" id="tab-index" value="0" />
<input type="hidden" id="session-id" value="@(sessionId)" />

@section scripts{
    <script>
        var urlApi = '@curPath';

        $(document).ready(function () {

            var listSessions = @Html.Raw(Json.Encode(listSessionsId));
            if (listSessions.length > 0)
            {
                InitDatatable(0, listSessions[0]);
            }
            else
            {
                InitDatatable(0, 0);
            }

            //Date range picker
            $('#AddStartEndTime').daterangepicker();


            //Save update activity
            $('#btn-update-activity').on('click', function () {
                console.log($('#txtActivityId').val());
                console.log($('#activityName').val());
                console.log($('#activityDescription').val());
                $.ajax({
                    url: urlApi + 'api/activity/UpdateActivity',
                    method: "POST",
                    data: {
                        ActivityID: $('#txtActivityId').val(),
                        Name: $('#activityName').val(),
                        Description: $('#activityDescription').val()
                    },
                    success: function (data) {
                        reloadTable();
                        swal("Success!", "Activity has been updated successfully", "success");
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            //Add activity
            $('#addActivity').on('click', function () {
                var time = $('#AddStartEndTime').val();
                var timeSplit = time.split('-');
                var startTime = timeSplit[0].trim();
                var endTime = timeSplit[1].trim();

                if (('#addName').val().trim().length == 0) {
                    $('#act-name-error').css('display', 'block');
                    $('#addActivity').attr('data-dismiss', null);
                } else {
                    $('#act-name-error').css('display', 'none');
                    $('#addActivity').attr('data-dismiss', 'modal');
                    $.ajax({
                        url: urlApi + 'api/activity/AddActivity',
                        method: 'POST',
                        data: {
                            SessionId: $('#session-id').val(),
                            Name: $('#addName').val(),
                            Description: $('#addDescription').val(),
                            StartTime: startTime,
                            EndTime: endTime
                        },
                        success: function (data) {
                            reloadTable();
                            swal("Success!", "Activity has been added successfully", "success");
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            });
        });

        function openModelUpdate(id,name, startTime, endTime, description) {
            $('#activityName').val(name);
            $('#activityDescription').val(description);
            $('#startEndTime').val(startTime + " - " + endTime);
            $('#txtActivityId').val(id);
            $('#startEndTime').daterangepicker({
                locale: {
                    format:'DD/MM/YYYY'
                }
            });

        }

        function deleteSession(id) {

            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: urlApi + 'api/activity/DeleteActivity',
                        method: "POST",
                        data: {
                            ActivityID: id,

                        },
                        success: function (data) {
                            reloadTable();
                            swal("Deleted!", "Your activity has been deleted successfully", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Error", "Some error occur", "error");
                        }
                    });
                });


        }

        function reloadTable() {
            var index = $('#tab-index').val();
            $('#tblActivity' + index).DataTable().ajax.reload();
        }

        function InitDatatable(index, sessionId) {
            $('#tblActivity' + index).DataTable({
                "bDestroy": true,
                ajax: {
                    url: urlApi + "api/activity/GetAllActivityBySessionId/" + sessionId,
                    dataSrc: ""
                },
                columns: [
                    {
                        name: "name",
                        render: function (data, type, row) {
                            return row.name;
                        }
                    },
                    {
                        name: "startTime - End Time",
                        render: function (data, type, row) {
                            return row.startTime + " - " + row.endTime;
                        }
                    },
                    {
                        name: "Description",
                        render: function (data, type, row) {
                            return row.description;
                        }
                    },
                    {
                        name: "Session Name",
                        render: function (data, type, row) {
                            return row.sessionName;
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateActivity" onclick="openModelUpdate(' + row.activityID + ',\'' + row.name + '\', \'' + row.startTime + '\', \'' + row.endTime + '\', \'' + row.description + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm btn-delete" onclick="deleteSession(' + row.activityID + ')" id="btn-delete"><i class="fa fa-trash"></i></button>';
                        }
                    }
                ]
            });
        }

        function ChangeTabIndex(index, sessionId) {
            $('#tab-index').val(index);
            $('#session-id').val(sessionId);

        }
    </script>
}


