
@{
    ViewBag.Title = "Cấu hình chung";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;

}
@using CapstoneProjectAdmin.ViewModel;
@model IEnumerable<EventCollectionViewModel>
<!--Section Shared-->
<section class="content-header">
    <h1>
        Cấu hình chung
    </h1>

</section>

<section class="content content-custom">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->

            <div class="small-box bg-teal">
                <div class="inner inner-custom">
                    <h4>Thông tin chung</h4>

                </div>
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <a href="@Url.Action("Index","Home", new { id = eventId})" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
            </div>


        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner inner-custom">
                    <h4>Phiên làm việc</h4>

                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="@Url.Action("Index","Session" , new { id = eventId})" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner inner-custom">
                    <h4>Hỏi đáp</h4>

                </div>
                <div class="icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <a href="@Url.Action("Index","QA", new { id = eventId})" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner inner-custom">
                    <h4>Bình chọn</h4>

                </div>
                <div class="icon">
                    <i class="fa fa-check-circle-o"></i>
                </div>
                <a href="@Url.Action("Index","Voting", new { id = eventId})" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>


    </div>
</section>
<!--Section Collection-->
<section class="content-header">
    <h1>
        Các bộ sưu tập
    </h1>
</section>
<section class="content">
    <div class="col-lg-12 container-add-collection">
        <button class="btn btn-custom pull-right" data-toggle="modal" data-target="#collectionModal"><i class="fa fa-plus"></i> Thêm bộ sưu tập</button>
    </div>
    <div class="row" id="collectionContainer">
        @foreach (var collection in Model)
        {
            <div class="col-lg-3 col-xs-6" id="collectionTypeContainer-@(collection.EventCollectionID)">
                <!-- small box -->
                <div class="small-box bg-teal">
                    @if (collection.IsActive)
                    {
                        <div id="collectionContainer-@(collection.EventCollectionID)" class="inner inner-custom" data-toggle="modal" data-target="#collectionEditModal" onclick="openModalEdit(@(collection.EventCollectionID),@(collection.EventId),@(collection.TypeId), '@(collection.Name)', '@(collection.Description)', '@(collection.CollectionType.Name)', true)">
                            <h4 id="collectionName-@(collection.EventCollectionID)">@(collection.Name)</h4>
                        </div>
                    }
                    else
                    {
                        <div id="collectionContainer-@(collection.EventCollectionID)" class="inner inner-custom" data-toggle="modal" data-target="#collectionEditModal" onclick="openModalEdit(@(collection.EventCollectionID),@(collection.EventId),@(collection.TypeId), '@(collection.Name)', '@(collection.Description)', '@(collection.CollectionType.Name)', false)">
                            <h4 id="collectionName-@(collection.EventCollectionID)">@(collection.Name)</h4>
                        </div>
                    }

                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>


                    <a href="@Url.Action("ManageCollectionItem","ManageEvent", new { eventId = collection.EventId, typeId =  collection.TypeId })" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    </div>
</section>

<!--Modal Add Collection-->
<div class="modal fade" id="collectionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Bộ Sưu Tập</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="txtCollectionName" type="text" class="form-control speaker-title" placeholder="Nhập tên bộ sưu tập">
                    </div>
                    <p id="errorNameAdd" class="empty empty col-lg-offset-3">Vui lòng nhập tên bộ sưu tập</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <textarea id="txtDescription" type="text" class="form-control speaker-description" placeholder="Nhập miêu tả về bộ sưu tập"></textarea>
                    </div>
                    <p id="errorDesAdd" class="empty empty col-lg-offset-3">Vui lòng nhập miêu tả bộ sưu tập</p>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Loại:</label>
                    <div class="col-sm-9 input-group" id="cbCollectionTypeDiv">
                        <select id="cbCollectionType" class="form-control"></select>
                    </div>
                    <div class="col-lg-offset-3 col-sm-9 input-group" id="txtCollectionTypeDiv">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="txtCollectionTypeName" type="text" class="form-control speaker-title" placeholder="Nhập tên loại bộ sưu tập">
                    </div>
                    <p id="errorNameCollectionAdd" class="empty empty col-lg-offset-3">Vui lòng nhập tên loại bộ sưu tập</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Loại hiển thị</label>
                    <div class="col-sm-9 input-group">
                        <select class="form-control" id="cbType">
                            <option value="0">Hình ảnh</option>
                            <option value="1">Tập tin</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Được hiển thị</label>
                    <div class="col-sm-9 input-group">
                        <input type="checkbox" id="ckIsActiveAdd" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-add" type="button" class="btn btn-primary" style="margin-top:5px">Thêm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<!--Modal Edit Collection-->
<div class="modal fade" id="collectionEditModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Bộ Sưu Tập</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Tên:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <input id="txtCollectionNameEdit" type="text" class="form-control speaker-title" placeholder="Nhập tên bộ sưu tập">
                    </div>
                    <p id="errorNameEdit" class="empty col-lg-offset-3">Vui lòng nhập tên bộ sựu tập</p>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Miêu Tả:</label>
                    <div class="col-sm-9 input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                        <textarea id="txtDescriptionEdit" type="text" class="form-control speaker-description" placeholder="Nhập miêu tả về bộ sưu tập"></textarea>
                    </div>
                    <p id="errorDesEdit" class="empty col-lg-offset-3">Vui lòng nhập miêu tả bộ sựu tập</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Loại:</label>
                    <div class="col-sm-9 input-group">
                        <div class="col-sm-9 input-group">
                            <input id="collectionTypeName" type="text" class="form-control speaker-title" readonly >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 form-control-label">Được hiển thị</label>
                    <div class="col-sm-9 input-group">
                        <input type="checkbox" id="ckIsActiveEdit" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRemove" value="" type="button" class="btn btn-danger" data-dismiss="modal" style="margin-top:5px">Xóa</button>
                <button id="btnEdit" type="button" class="btn btn-info" style="margin-top:5px">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
            <input type="hidden" id="txtEventId" value="" />
            <input type="hidden" id="txtTypeId" value="" />
        </div>

    </div>
</div>


<!--Collection Container Template-->
<div id="collectionTemplate" style="display:none;">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner inner-custom" data-toggle="modal" data-target="#collectionEditModal">
                <h4 class="collection-title"></h4>

            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="" class="small-box-footer">Nhấn để vào cấu hình <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @(eventId);

        $(document).ready(function () {
            loadCollectionTypeToCb();

            $('.menu').removeClass('menu-active');
            $('.menu-event').addClass('menu-active');
        });


        $('#btn-add').on('click', function () {
            clearErrorAddCollection();

            var name = $('#txtCollectionName').val();
            var description = $('#txtDescription').val();
            var typeId = parseInt($('#cbCollectionType').val());
            var isImage = true;
            if ($('#cbType').val() === 1) {
                isImage = false;
            }
            var isActive = false;
            if ($('#ckIsActiveAdd').is(":checked")) {
                isActive = true;
            }
            var collectionTypeName;

            var isValid = true;
            if (name.length === 0) {
                isValid = false;
                $('#errorNameAdd').css('display', 'block');
            }
            if (description.length === 0) {
                isValid = false;
                $('#errorDesAdd').css('display', 'block');
            }
            if (typeId === -1) {
                collectionTypeName = $('#txtCollectionTypeName').val();
                if (collectionTypeName.length === 0) {
                    isValid = false;
                    $('#errorNameCollectionAdd').css('display', 'block');
                }
            }
            if (isValid) {
                var eventCollectionObj = {
                    Name: name,
                    EventId: eventId,
                    TypeId: typeId,
                    Description: description,
                    IsActive: isActive,
                    IsImage: isImage
                };
               
                var obj = JSON.stringify(eventCollectionObj);
                $.ajax({
                    url: '@Url.Action("AddNewEventCollection", "ManageEvent")',
                    method: "POST",
                    data: {
                        eventCollection: eventCollectionObj,
                        "collectionTypeName": collectionTypeName
                    },
                    success: function (data) {

                        if (data.success) {

                            swal({
                                title: "Thành công!",
                                text: "Bạn đã thêm bộ sưu tập thành công",
                                type: "success",
                            }, function () {
                                window.location.href = "@Url.Action("Index","ManageEvent", new { id = eventId })";
                            });
                        }
                        else {
                            swal("Thất bại!", "Thêm mới bộ sưu tập không thành công", "warning");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
                $('#collectionModal').modal('hide');
            }

        });

        $('#btnEdit').on('click', function () {
            clearErrorEditCollection();

            var eventCollectionId = $(this).attr('value');
            var eventId = $('#txtEventId').val();
            var typeId = $('#txtTypeId').val();
            var isActive = false;
            if ($("#ckIsActiveEdit").prop('checked') == true) {
                isActive = true;
            }

            var name = $('#txtCollectionNameEdit').val();
            var description = $('#txtDescriptionEdit').val();

            var isValid = true;
            if (name.length === 0) {
                $('#errorNameEdit').css('display', 'block');
                isValid = false;
            }
            if (description.length === 0) {
                $('#errorDesEdit').css('display', 'block');
                isValid = false;
            }

            if (isValid) {
                $.ajax({
                    url: '@Url.Action("UpdateCollectionType", "ManageEvent")',
                    method: "POST",
                    data: {
                        EventCollectionID: eventCollectionId,
                        Name: name,
                        Description: description,
                        EventId: eventId,
                        TypeId: typeId,
                        IsActive: isActive
                    },
                    success: function (data) {
                        if (data.success) {
                            swal({
                                title: "Thành công!",
                                text: "Bạn đã cập nhật bộ sưu tập thành công",
                                type: "success",
                            }, function () {
                                window.location.href = "@Url.Action("Index","ManageEvent", new { id = eventId })";
                            });
                            //swal("Thành công!", "Bạn đã cập nhật bộ sưu tập thành công", "success");
                            //$('#collectionName-' + eventCollectionId).text(name);
                            //$('#collectionContainer-' + eventCollectionId).prop('onclick', openModalEdit(eventCollectionId + ',' + eventId + ',' + typeId + ' \'' + name + '\', \'' + description + '\',' + isActive));
                            
                        }
                        else {
                            swal("Thất bại!", "Cập nhật bộ sưu tập không thành công", "warning");

                        }

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
                $('#collectionEditModal').modal('hide');
            }
            

        });

        $('#btnRemove').on('click', function () {
            var eventCollectionId = $(this).attr('value');
            var eventId = $('#txtEventId').val();
            var typeId = $('#txtTypeId').val();
            swal({
                title: "Bạn có chắc?",
                text: "Bạn có chắc chắn, bạn sẽ không thể phục hồi lại!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Hủy!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: '@Url.Action("DeleteEventCollection", "ManageEvent")',
                        method: "POST",
                        data: {
                            EventCollectionID: eventCollectionId,
                            EventId: eventId,
                            TypeId: typeId
                        },
                        success: function (data) {
                            swal({
                                title: "Xóa!",
                                text: "Bộ sưu tập đã được xóa thành công",
                                type: "success",
                            }, function () {
                                $('#collectionTypeContainer-' + eventCollectionId).remove();
                            });

                        },
                        error: function (data) {
                            console.log(data);
                            swal("Không thành công", "Không thể xóa bộ sưu tập này", "error");
                        }
                    });
                });
        });

        $('#cbCollectionType').on('change', function () {
            var collectionType = parseInt(this.value);
            if (collectionType === -1) {
                $('#txtCollectionTypeDiv').css('display', 'flex');
            }
            else {
                $('#txtCollectionTypeDiv').css('display', 'none');
            }
        });

        function clearPopup() {
            $('#txtCollectionName').val("");
            $('#txtDescription').val("");
        }

        function openModalEdit(eventCollectionId, eventId, typeId, name, description,collectionTypeName, isActive) {
            clearErrorEditCollection();
            $('#txtCollectionNameEdit').val(name);
            $('#txtDescriptionEdit').val(description);
            $('#collectionTypeName').val(collectionTypeName);
            $('#txtEventId').val(eventId);
            $('#txtTypeId').val(typeId);
            if (isActive) {
                $('#ckIsActiveEdit').prop('checked', true);
            }
            else {
                $('#ckIsActiveEdit').prop('checked', false);
            }


            $('#btnEdit').attr('value', eventCollectionId);
            $('#btnRemove').attr('value', eventCollectionId);
        }

        function loadCollectionTypeToCb() {
            $.ajax({
                url: '@Url.Action("GetCollectionType", "ManageEvent")',
                method: "GET",
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        for (var i = 0; i < data.data.length; i++) {
                            $('#cbCollectionType').append('<option value="' + data.data[i].CollectionTypeID + '">' + data.data[i].Name +'</option>');
                        }
                        $('#cbCollectionType').append('<option value="-1">Khác</option>');
                        //disableOptionCollectionType();
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

     

        function clearErrorAddCollection() {
            $('#errorNameAdd').css('display', 'none');
            $('#errorDesAdd').css('display', 'none');
            $('#errorNameCollectionAdd').css('display', 'none');
        }

        function clearErrorEditCollection() {
            $('#errorNameEdit').css('display', 'none');
            $('#errorDesEdit').css('display', 'none');
        }

        /* Dùng để disable các lựa chọn bộ sưu tập mà event đã có rồi */
        function disableOptionCollectionType() {
            $.ajax({
                url: urlApi + "GetListTypeIdOfEvent/" + eventId,
                method: "GET",
                success: function (data) {
                    if (data.success) {
                        for (var i = 0; i < data.data.length; i++) {
                            $("#cbCollectionType option[value=" + data.data[i] + "]").attr('disabled', 'disabled');
                            var text = $("#cbCollectionType option[value=" + data.data[i] + "]").text();
                            $("#cbCollectionType option[value=" + data.data[i] + "]").html(text);
                        }
                       
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}