@using HmsService.Models.Entities;
@using System.Globalization;
@model Event

@{
    var listBannerImage = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 1).CollectionItems;
    var listSpeaker = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 2).CollectionItems;
    var listSponsor = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 3).CollectionItems;

    var startTime = Model.StartTime;
    var endTime = Model.EndTime;
    string startMonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(startTime.Value.Month);
    string endMonthName = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(endTime.Value.Month);
    var time = startTime.Value.Day + " " + startMonthName + " - " + endTime.Value.Day + " " + endMonthName;
    if (startTime.Value.Month == endTime.Value.Month)
    {
        time = startTime.Value.Day + " - " + endTime.Value.Day + " " + endMonthName;
    }
}
<!doctype html>
<html class="no-js" lang="">

<!-- Mirrored from www.radiustheme.com/demo/html/eventalk/one-page-index3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 May 2018 08:23:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eventalk | Home 3 (One Page)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Template/eventalk/img/favicon.png">
    <!-- Modernizr Js -->
    @*<script src="~/Content/Template/eventalk/js/modernizr-2.8.3.min.js"></script>*@
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an
        <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader" class="preloader">
        <div class="items">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Slider Area Start Here -->
        <div class="slider-area slider-direction-layout1 slider-layout3 slider-gradient-overlay">
            <div class="comingsoon-inner">
                <div class="container">
                    <div class="comingsoon-content">
                        <ul class="upcoming-event-info">
                            <li>@(time)</li>
                            @*<li>Tobacco Dock, London</li>*@
                            <li>@Html.Raw(Model.Address)</li>
                        </ul>
                        <img src="~/Content/Template/eventalk/img/slider/slider-text-img.png" alt="slider" class="img-responsive">
                        <div class="countdown-layout3">
                            <div id="countdown"></div>
                        </div>
                        <div class="row d-none d-xl-block">
                            <div class="col-12 text-center">
                                <a href="#" title="Buy Tickets Now!" class="btn-ghost color-light hover-yellow size-lg border-radius-5">Buy Tickets Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bend niceties preview-1">
                <div id="ensign-nivoslider-2" class="slides">
                    @for (int i = 0; i < listBannerImage.Count(); i++)
                    {
                        <img src="@(listBannerImage.ElementAt(i).ImageUrl)" alt="slider" title="#slider-direction-@(i)" />
                    }

                </div>
            </div>
        </div>
        <!-- Slider Area End Here -->
        <!-- About Area Start Here -->
        <section class="section-space-big bg-common bg-accent" style="background-image: url(~/Content/Template/eventalk/img/figure/figure3.png);">
            <div class="container">
                <div class="about-layout3">
                    <img src="~/Content/Template/eventalk/img/about/about-logo.png" alt="logo" class="img-fluid">
                    <p>
                        @*Emply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            simply dummy text of the rinting and typesetting industry.standard dummy text ever since.Emply
                            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            when an unknown printer took.*@
                        @Html.Raw(Model.EventDescription)
                    </p>
                </div>
            </div>
        </section>
        <!-- About Page Area End Here -->
        <!-- Speaker Area Start Here -->
        <section id="speakers" class="section-space-default bg-light overlay-icon-layout4">
            <div class="container zindex-up zoom-gallery menu-list-wrapper">
                <div class="section-heading title-black color-dark text-left">
                    <h2>Todays Performers</h2>
                    <p>Dorem ipsum dolor sitIncidunt laborum beatae earum nihil onsequuntur official </p>
                </div>
                <div class="row menu-list">
                    @{
                        var index = 0;
                        foreach (var item in listSpeaker)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 menu-item @(index > 3 ? "hiden" : "")">
                                <div class="speaker-layout3">
                                    <img src="@(item.ImageUrl)" alt="speaker" class="img-fluid">
                                    <div class="item-title">
                                        <h3 class="title title-medium color-light hover-yellow">
                                            <a href="single-speaker.html">@(item.Name)</a>
                                        </h3>
                                        @*<div class="title-light size-md color-light text-left">BadBoys Band</div>*@
                                    </div>
                                    <div class="item-social">
                                        <ul>
                                            <li>
                                                <a href="#" title="facebook">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="twitter">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="linkedin">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="pinterest">
                                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            index++;
                        }
                    }

                </div>
                @if (listSpeaker.Count() > 3)
                {
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="#" title="More Performaers" class="loadmore-three-item btn-fill size-lg color-yellow zindex-up border-radius-5 margin-t-30">More Performaers</a>
                        </div>
                    </div>
                }

            </div>
        </section>
        <!-- Speaker Area End Here -->
        <!-- Schedule Area Start Here -->
        <section id="schedule" class="section-space-default bg-light">
            <div class="container">
                <div class="section-heading title-black color-dark text-center">
                    <h2>Performance Schedule</h2>

                </div>
                <div class="schedule-layout3">
                    <ul class="schedule-nav nav nav-tabs">
                        @for (int i = 0; i < Model.Sessions.Count; i++)
                        {
                            <li class="nav-item">
                                <a href="#schedule@(i)" data-toggle="tab" aria-expanded="false" class="@(i == 0 ? "active" : "")">
                                    <div class="day-number">@Html.Raw(Model.Sessions.ElementAt(i).Name)</div>
                                </a>
                            </li>
                        }
                        
                    </ul>
                    <div class="schedule-content">
                        <div class="tab-content">
                            @for (int i = 0; i < Model.Sessions.Count; i++)
                            {
                                var activityItem = Model.Sessions.ElementAt(i).Activities;

                                <div role="tabpanel" class="tab-pane fade @(i == 0 ? "active show" : "") " id="schedule@(i)">
                                    <table class="table table-bordered table-responsive">
                                        <tbody>
                                            @foreach (var item in activityItem)
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="single-event.html">
                                                            <div class="schedule-info">
                                                                <div class="media">
                                                                    <div class="speaker-img">
                                                                        <img src="~/Content/Template/eventalk/img/speaker/speaker9.png" alt="schedule" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body item-content">
                                                                        <h3 class="title title-medium color-dark size-sm">@(item.Name)</h3>
                                                                        <p>@(item.Name)</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="single-event.html">
                                                            <div class="schedule-info">
                                                                <div class="item-content">
                                                                    <h3 class="title title-medium color-dark size-sm">Time Schedule</h3>
                                                                    <p>@(item.StartTime.Value.ToShortTimeString())</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="single-event.html">
                                                            <div class="schedule-info">
                                                                <div class="item-content">
                                                                    <h3 class="title title-medium color-dark size-sm">Hall</h3>
                                                                    <p>CityCafe</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                            }
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#" title="More Schedules" class="btn-fill size-md border-radius-5 color-yellow">More Schedules</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Schedule Area End Here -->
        <!-- Pricing Plan Area Start Here -->
        <section id="pricing" class="section-space-default-less30 overlay-icon-layout2 bg-common bg-accent" style="background-image: url(~/Content/Template/eventalk/img/figure/figure5.png);">
            <div class="container zindex-up">
                <div class="section-heading title-black color-dark text-left">
                    <h2>Ticket Price &amp; Plan</h2>
                    <p>Dorem ipsum dolor sit. Incidunt laborum beatae earum nihil odio consequatur officiis tempore</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="price-table-layout1">
                            <div class="item-wrapper">
                                <div class="item-title">
                                    <h3 class="title-medium color-dark text-uppercase">Personal Plan</h3>
                                </div>
                                <div class="item-price">
                                    49
                                    <span class="currency">$</span>
                                </div>
                                <div class="item-body">
                                    <ul>
                                        <li>Entrance</li>
                                        <li>Coffee Break</li>
                                        <li>Certificate</li>
                                        <li>Workshop</li>
                                    </ul>
                                </div>
                                <a href="#" title="Buy Ticket" class="btn-fill size-md border-radius-5 color-yellow">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="price-table-layout1">
                            <div class="item-wrapper">
                                <div class="item-title">
                                    <h3 class="title-medium color-dark text-uppercase">Business Plan</h3>
                                </div>
                                <div class="item-price">
                                    69
                                    <span class="currency">$</span>
                                </div>
                                <div class="item-body">
                                    <ul>
                                        <li>Entrance</li>
                                        <li>Coffee Break</li>
                                        <li>Certificate</li>
                                        <li>Workshop</li>
                                    </ul>
                                </div>
                                <a href="#" title="Buy Ticket" class="btn-fill size-md border-radius-5 color-primary">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="price-table-layout1">
                            <div class="item-wrapper">
                                <div class="item-title">
                                    <h3 class="title-medium color-dark text-uppercase">Premium Plan</h3>
                                </div>
                                <div class="item-price">
                                    99
                                    <span class="currency">$</span>
                                </div>
                                <div class="item-body">
                                    <ul>
                                        <li>Entrance</li>
                                        <li>Coffee Break</li>
                                        <li>Certificate</li>
                                        <li>Workshop</li>
                                    </ul>
                                </div>
                                <a href="#" title="Buy Ticket" class="btn-fill size-md border-radius-5 color-green">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Plan Area End Here -->
        <!-- Sponsonrs Area Start Here -->
        <section id="sponsors" class="section-space-default bg-light">
            <div class="container">
                <div class="section-heading title-black color-dark text-center">
                    <h2>Offcial Sponsonrs &amp; Partner</h2>
                    <p>Check Who Makes This Event Possible!</p>
                </div>
                <div class="sponsonrs-layout1">
                    <div class="row">
                        @foreach (var item in listSponsor)
                        {
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="sponsonrs-box">
                                    <a href="#">
                                        <img src="@(item.ImageUrl)" alt="brand" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </section>
        <!-- Sponsonrs Area End Here -->
        <!-- Map Area Start Here -->
        <section id="contact" class="full-width-container">
            <div class="container-fluid">
                <div class="google-map-area">
                    <div id="googleMap" style="width:100%; height:496px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4667109038546!2d106.69877591480079!3d10.775521892322164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f479e4f95db%3A0xcae127d5b519b548!2sRex+Hotel!5e0!3m2!1sen!2s!4v1527840226572" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="upcoming-event-layout1">
                        <h2>
                            Marketing
                            <br> Conferance 2018
                        </h2>
                        <div class="date">17 - 25 Oct, 2018</div>
                        <p>Tobacco Dock, London</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Map Area End Here -->
    </div>
    <!-- Wrapper End -->
    <!-- Custom Js -->
    @*<script src="~/Content/Template/eventalk/js/main-one-page.js"></script>*@
</body>

<!-- Mirrored from www.radiustheme.com/demo/html/eventalk/one-page-index3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 May 2018 08:23:51 GMT -->
</html>
