@{
    /**/

    ViewBag.Title = "Thông tin sự kiện";
    int eventId = Model.EventID;
    //var listBannerImage = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 1).CollectionItems;
}
@using HmsService.ViewModels;
@model EventViewModel

<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-sm-8 name-title" style="text-align:center"><h1 class="home-page-title">@Html.Raw(Model.Name)</h1></div>
                <div class="col-sm-4">
                    <div class="row down pull-left">
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Home", new { id = Model.EventID })" @*data-toggle="modal" data-target="#modalUpdateEvent" onclick="showEditModal(@Html.Raw(Model.EventID), '@Html.Raw(Model.Name)', @Html.Raw(Model.CodeLogin), '@Html.Raw(Model.StartTime)', '@Html.Raw(Model.EndTime)', '@Html.Raw(Model.Address)', '@Html.Raw(Model.EventDescription)', @Html.Raw(Model.TemplateId), '@Html.Raw(Model.ImageURL)')"*@ style="margin-top:20px">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Sửa
                        </a>
                        <button class="btn btn-danger" onclick="deleteEvent(@(Model.EventID))" style="margin-top:20px">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Xóa
                        </button>


                    </div>

                </div>
            </div>

        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Mã Đăng Nhập</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-code-login">@Html.Raw(Model.CodeLogin)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Thời gian diễn ra</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-start-time">
                            @Html.Raw(Model.StartTime.Value.ToString("dd/MM/yyyy")) -
                            @Html.Raw(Model.EndTime.Value.ToString("dd/MM/yyyy"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Địa Điểm</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-address">@Html.Raw(Model.Address)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Kinh độ</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-address">@Html.Raw(Model.Longitude)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Vĩ độ</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-address">@Html.Raw(Model.Latitude)</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Miêu Tả</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-description">@Html.Raw(Model.EventDescription)</div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Trang Nội Dung</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-template">@Html.Raw(Model.TemplateId)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 name-title">
                            <label>Trang giới thiệu</label>
                        </div>
                        <div class="col-sm-8 evtinfo home-page-template">
                            @if ((bool)Model.IsLandingPage)
                            {
                                <span style="font-size:14px;">Đang được hiện trên trang giới thiệu</span> 
                            }
                            else
                            {
                                <span style="font-size:14px;">Không được hiện trên trang giới thiệu</span>
                                <a href="@Url.Action("SetEventToLandingPage", "Home", new { id = eventId })" class="btn btn-success" style="margin-top:10px;">Thiết lập thông tin sự kiện này lên trang giới thiệu</a>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="@Model.ImageURL" class="img-responsive home-page-image">
                </div>
            </div>

            


        </div>
    </div>





</div>




@section scripts {
    <script>
        function showEditModal(id, name, codeLogin, startTime, endTime, address, description, template, image) {
            $('.home-title').val(name);
            $('.home-description').val(description);
            $('.home-image').val(image);
            $('.home-id').val(id);
            $('.home-code-login').val(codeLogin);
            $('.home-address').val(address);
            $('.home-template').val(template);
            $('#startEndTime').val(startTime + " - " + endTime);
            $('#startEndTime').daterangepicker({
                timePicker: true,
                //startDate: moment().startOf('hour'),
                //endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'DD/MM/YYYY hh:mm A'
                }
            });
            //EventID, EventName, CodeLogin, StartTime, EndTime, Address, EventDescription, TemplateId, ImageURL
        }


        function deleteEvent(eventId) {
            swal({
                title: "Bạn có chắc?",
                text: "Bạn có chắc chắn, bạn sẽ không thể khôi phục!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Xóa!",
                cancelButtonText: "Không!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: '@Url.Action("DeleteEvent", "Home")',
                        method: "POST",
                        data: {
                            EventID: eventId
                        },
                        success: function (data) {
                            console.log(data);
                            if (data.success) {

                                swal({
                                    title: "Xóa!",
                                    text: "Cuộc bình chọn đã được xóa thành công",
                                    type: "success",
                                    confirmButtonText: "OK"
                                }, function () {
                                    window.location.href = '@Url.Action("Index","Events")';
                                });
                            }
                            else {
                                swal("Lỗi", "Không thể xóa", "error");
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Lỗi", "Không thể xóa", "error");
                        }
                    });
                });
        }


    </script>
}
<script src="~/Content/HomeJs/Home.js"></script>
