@{
    ViewBag.Title = "Home Page";
    var listBannerImage = Model.EventCollections.FirstOrDefault(e => e.EventCollectionID == 1).CollectionItems;
}
@using HmsService.Models.Entities;
@model Event

<div class="container">
    <div class="row" style="height:100px">
        <div class="col-sm-8 name-title" style="text-align:center"><h1>Diễn đàn doanh nghiệp Hàng VN chất lượng cao và khởi nghiệp</h1></div>
        <div class="col-sm-4">
            <div class="row down pull-left">
                <a class="btn btn-primary" href="@Url.Action("Edit", "Home")">
                    <i class="fa fa-pencil btn-css" aria-hidden="true"></i>
                    <span>Edit</span>
                </a>

                <a class="btn btn-primary @(Model != null ? Model.EventID != 0 ? "a" : "" : "")">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>View</span>
                </a>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4 name-title">Event Name</div>
                <div class="col-sm-8 evtinfo">@Html.Raw(Model.Name)</div>
            </div>

            <div class="row">
                <div class="col-sm-4 name-title">Time</div>
                <div class="col-sm-8 evtinfo">@Html.Raw(Model.StartTime)</div>
            </div>

            <div class="row">
                <div class="col-sm-4 name-title">Address</div>
                <div class="col-sm-8 evtinfo">@Html.Raw(Model.Address)</div>
            </div>

            <div class="row">
                <div class="col-sm-4 name-title">Description</div>
                <div class="col-sm-8 evtinfo">@Html.Raw(Model.EventDescription)</div>
            </div>
        </div>



        <div class="col-sm-6">
            <img src="~/Content/img/background-wifi-2.png" class="img-responsive">
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>