
@{
    ViewBag.Title = "Index";
}
@using HmsService.Models.Entities;
@model IEnumerable<Activity>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 30px; margin-bottom:10px">
            <h1>Calendar</h1>
        </div>
        <div class="schedule-layout3" style="width:100%">
            <div class="schedule-content">
                <div class="tab-content">
                    @{
                        <table class="table table-bordered">
                            <tbody>
                                @foreach (var activity in Model)
                                {
                                    <tr>
                                        <td>
                                            @foreach (var activityItem in activity.ActivityItems)
                                            {
                                                <a style="padding-right:2px">
                                                    <div class="schedule-info">
                                                        <div class="media">
                                                            <div class="speaker-img" style="position:relative; right:25px">
                                                                <img src="@(activityItem.CollectionItem.ImageUrl)" alt="schedule" class="rounded-circle img-circle" style="width:100%; height:100%">
                                                            </div>
                                                            <div class="media-body item-content" style="position:relative;right:35px">
                                                                <h3 class="title title-medium color-dark size-sm">@(activityItem.CollectionItem.Name)</h3>
                                                                <p>@(activityItem.CollectionItem.Description)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            }


                                        </td>
                                        <td>
                                            <a tyle="padding-right:2px">
                                                <div class="schedule-info">
                                                    <div class="item-content" style="position:absolute;">
                                                        <h3 class="title title-medium color-dark size-sm">@(activity.Name)</h3>
                                                        <p>@(activity.StartTime.ToString())</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>