@model CapstoneProjectAdmin.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng kí";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = ViewBag.ExistUser;
    string a = "";

}
<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Đăng kí tài khoản mới</h2>

            </div>
        </div>
        <div class="ibox-content">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                if(ViewBag.ExistUser != null)
                {
                    <h3 style="color:red;">@(error)</h3>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TelephoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    @*<input type="submit" class="btn btn-default" value="Register" />*@
                    <button id="btnAddGuest" type="submit" class="btn btn-primary" >Thêm</button>
                    <a href="@Url.Action("Index", "SystemAdmin")" class="btn btn-default" data-dismiss="modal">Hủy bỏ</a>
                </div>
                @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>*@
            }
        </div>

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
