@{
    //int eventId = Int32.Parse(ViewContext.RouteData.Values["id"].ToString());

    int eventId = ViewBag.EventId != null ? ViewBag.EventId : 0;
    string briefName = ViewBag.BriefName != null ? ViewBag.BriefName : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Join.vn</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/LogoMakr_6CVPn5.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!--Data Table-->
    <link rel="stylesheet" href="~/Content/DataTables/datatables.min.css">
    <!--Sweet Alert-->
    <link rel="stylesheet" href="~/Content/bootstrap-sweetalert-master/dist/sweetalert.css">
    <!--Progress Bar-->
    <link rel="stylesheet" href="~/Content/ProgressBar/css/bootstrap-progressbar-3.3.4.css">
    <!--Toggle-->
    <link rel="stylesheet" href="~/Content/ToggleBootstrap/toggle.css">


    <!--Custom Css-->
    <link rel="stylesheet" href="~/Content/CustomCss/admin.css">
    <link rel="stylesheet" href="~/Content/CustomCss/sponsor.css">
    <link rel="stylesheet" href="~/Content/CustomCss/voting.css">
    <link rel="stylesheet" href="~/Content/CustomCss/style.default.css">
    <link rel="stylesheet" href="~/Content/CustomCss/QA.css">



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    <!-- jQuery 3 -->
    @*<script src="~/Content/AdminLTE-master/bower_components/jquery/dist/jquery.min.js"></script>*@
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/AdminLTE-master/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    @*<script src="~/Content/AdminLTE-master/bower_components/raphael/raphael.min.js"></script>
        <script src="~/Content/AdminLTE-master/bower_components/morris.js/morris.min.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/AdminLTE-master/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/AdminLTE-master/dist/js/demo.js"></script>
    <!--Ck Editor-->
    <script src="~/Content/AdminLTE-master/bower_components/ckeditor/ckeditor.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/AdminLTE-master/bower_components/moment/moment.js"></script>
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/AdminLTE-master/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Content/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/AdminLTE-master/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/AdminLTE-master/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/AdminLTE-master/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/AdminLTE-master/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/AdminLTE-master/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE-master/dist/js/adminlte.min.js"></script>
    <!--Data Table-->
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <!--Sweet Alert-->
    <script src="~/Content/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
    <!--Filestack-->
    <script src="~/Content/Filestack/filestack.min.js"></script>
    <!--Progress Bar-->
    <script src="~/Content/ProgressBar/bootstrap-progressbar.min.js"></script>
    <!--Toggle-->
    <script src="~/Content/ToggleBootstrap/toggle.js"></script>



</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top navbar-custom">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar side-bar-custom" style="padding-top:0;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/img/17241-200.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@(User.Identity.Name.ToUpper())</p>
                        @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
                    </div>
                </div>
              
                <!-- sidebar menu: : style can be found in sidebar.less -->

                <ul class="sidebar-menu" data-widget="tree">
                    @if (User.IsInRole("SystemAdmin"))
                    {
                        <li><a href="@Url.Action("Index","SystemAdmin")"><i class="fa fa-setting"></i> <span>Quản lý tài khoản</span></a></li>
                        <li><a href="@Url.Action("LogOff","Account")"><i class="fa fa-sign-out"></i> <span>Thoát</span></a></li>
                    }
                    else
                    {
                        <li class="menu-session menu"><a href="@Url.Action("Index","ManageSession", new { briefName = briefName })"><i class="fa fa-wrench" aria-hidden="true"></i> <span>Trung tâm điều khiển</span></a></li>
                        <li class="menu-event menu"><a href="@Url.Action("Index","ManageEvent", new { briefName = briefName })"><i class="fa fa-home" aria-hidden="true"></i> <span>Cấu hình chung</span></a></li>
                        <li class="menu-guest menu"><a href="@Url.Action("Index","Guest", new { briefName = briefName })"><i class="fa fa-users" aria-hidden="true"></i> <span>Danh sách người tham gia</span></a></li>
                        <li class="menu-statistics menu"><a href="@Url.Action("Index","Statistics", new { briefName = briefName })"><i class="fa 	fa fa-bar-chart" aria-hidden="true"></i> <span>Thống kê</span></a></li>
                        <li class="menu-events menu"><a href="@Url.Action("Index","Events")"><i class="fa fa-sign-out"></i> <span>Thoát</span></a></li>

                    }



                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>






    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
