
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Join.vn</title>
    @Scripts.Render("~/bundles/jquery")
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/AdminLTE-master/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/LogoMakr_6CVPn5.png">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap/less/dropdowns.less">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/dist/css/AdminLTE.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/CustomCss/admin.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/AdminLTE-master/dist/css/skins/_all-skins.min.css">
    <!--Sweet Alert-->
    <link rel="stylesheet" href="~/Content/bootstrap-sweetalert-master/dist/sweetalert.css">


    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/AdminLTE-master/dist/js/adminlte.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/AdminLTE-master/bower_components/moment/moment.js"></script>
    <script src="~/Content/AdminLTE-master/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!--Sweet Alert-->
    <script src="~/Content/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
    <!--Filestack-->
    <script src="~/Content/Filestack/filestack.min.js"></script>
    @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7Meb98e_PppAWoqobk4Ml1rFygPl9eUI&callback=initMap">
        </script>*@

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="background-color:white;">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->

            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/img/17241-200.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@(User.Identity.Name)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/img/17241-200.png" class="img-circle" alt="User Image">
                                    <p>
                                        @(User.Identity.Name)
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-default">Hồ sơ</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff","Account")" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @RenderBody()
    </div>

    <!--Modal Change Password-->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>


                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">Mật khẩu cũ</label>
                        <div class="col-sm-9 input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                            <input id="txtOldPassword" type="password" class="form-control" placeholder="Vui lòng nhập mật khẩu cũ">
                        </div>
                        <p class="error-title col-lg-offset-3" id="errorOldPassword">Vui lòng nhập mật khẩu cũ</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">Mật khẩu mới</label>
                        <div class="col-sm-9 input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                            <input id="txtNewPassword" type="password" class="form-control" placeholder="Vui lòng nhập mật khẩu mới">
                        </div>
                        <p class="error-title col-lg-offset-3" id="errorNewPassword">Vui lòng nhập mật khẩu mới</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">Xác nhận lại mật khẩu</label>
                        <div class="col-sm-9 input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                            <input id="txtConfirmNewPassword" type="password" class="form-control" placeholder="Vui lòng xác nhận lại mật khẩu">
                        </div>
                        <p class="error-title col-lg-offset-3" id="errorConfirmPasswordLength">Vui lòng nhập lại xác nhận mật khẩu </p>
                        <p class="error-title col-lg-offset-3" id="errorConfirmPassword">Mật khẩu không trùng khớp</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnChangePassword">Lưu</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>






            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
@section scripts {
    
}


