
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using CapstoneProjectClient.ViewModel;
@using HmsService.Models.Entities;
@model EventCollection
<div class="row" style="padding-top: 74px;">
    <div class="col-md-12 text-center voting-title">
        <h3>@(Model.Name)</h3>
    </div>
</div>

@if (Model == null || Model.CollectionItems == null)
{
    <h3 class="text-center">Hiện tại chưa có @(Model.Name)</h3>
}
else
{
    <div class="row custom-row">
        @{
            if (!(bool)Model.IsImage)
            //if (Model.TypeId == (int)MyEnum.CollectionType.File)
            {
                foreach (var collectionItem in Model.CollectionItems)
                {
                    <div class="col-md-3 col-lg-2 col-4" onclick="showModalItem('@(collectionItem.Name)','@(collectionItem.Description)', '@(collectionItem.ImageUrl)', true)">
                        <div class="box-file-shadow">
                            <a href="" data-toggle="modal" data-target="#itemModal" class="icon-color">
                                @{
                                    var nameSplit = collectionItem.Name.Split('.');
                                    var mimetype = nameSplit[nameSplit.Length - 1];
                                    if ("pdf".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/pdf.png" />
                                    }
                                    else
                                    if ("docx".IndexOf(mimetype) != -1 || "doc".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/word.png" />
                                    }
                                    else
                                    if ("xlsx".IndexOf(mimetype) != -1 || "xls".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/excel.png" />
                                    }
                                    else
                                    if ("avi".IndexOf(mimetype) != -1 || "flv".IndexOf(mimetype) != -1 || "mp4".IndexOf(mimetype) != -1 || "wmv".IndexOf(mimetype) != -1 || "mov".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/video.png" />
                                    }
                                    else
                                    if ("mp3".IndexOf(mimetype) != -1 || "flac".IndexOf(mimetype) != -1 || "wma".IndexOf(mimetype) != -1 || "wav".IndexOf(mimetype) != -1 || "midi".IndexOf(mimetype) != -1 || "ogg".IndexOf(mimetype) != -1 || "ac3".IndexOf(mimetype) != -1 || "amr".IndexOf(mimetype) != -1 || "aac".IndexOf(mimetype) != -1 || "m4a".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/sound.png" />
                                    }
                                    else
                                    if ("zip".IndexOf(mimetype) != -1 || "rar".IndexOf(mimetype) != -1 || "7z".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/archive.png" />
                                    }
                                    else
                                    if ("txt".IndexOf(mimetype) != -1 || "rtf".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/Wordpad-icon.png" />
                                    }
                                    else
                                    if ("ppt".IndexOf(mimetype) != -1 || "pps".IndexOf(mimetype) != -1 || "pptx".IndexOf(mimetype) != -1 || "ppsx".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/powepoint.png" />
                                    }
                                    else
                                    if ("jpeg".IndexOf(mimetype) != -1 || "png".IndexOf(mimetype) != -1 || "PNG".IndexOf(mimetype) != -1)
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/image.png" />
                                    }
                                    else
                                    {
                                        <img class="img-fluid image-file-custom" src="~/Content/img/file.png" />
                                    }
                                }
                            </a>
                            <div class="item-title">
                                <h6 class="title title-medium file-name-text">
                                    @{
                                        var nameFileSplit = collectionItem.Name.Split('.');
                                        var mimeType = nameFileSplit[nameFileSplit.Length - 1];
                                        var name = collectionItem.Name.Substring(0, collectionItem.Name.Length - mimeType.Length - 1);
                                        <a class="file-name">@name</a>
                                    }
                                </h6>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (Model.TypeId == 2)
                {
                    foreach (var collectionItem in Model.CollectionItems)
                    {
                        <div class="col-md-3 col-sm-6 col-12" onclick="showModalItem('@(collectionItem.Name)', `@Html.Raw(collectionItem.Description)`, '@(collectionItem.ImageUrl)', false)">
                            <div class="box-speaker-shadow">
                                <div data-toggle="modal"
                                     data-target="#itemModal"
                                     class="img-fluid image-speaker-custom"
                                     style="background-image: url(@collectionItem.ImageUrl);">

                                </div>
                                <div class="item-title">
                                    <h3 class="title title-medium" style="text-align:center">
                                        <a class="speaker-name">@(collectionItem.Name)</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (Model.TypeId == 3)
                {
                    foreach (var collectionItem in Model.CollectionItems)
                    {
                        <div class="col-md-3 col-sm-6 col-12" onclick="showModalItem('@(collectionItem.Name)', `@Html.Raw(collectionItem.Description)`, '@(collectionItem.ImageUrl)', false)">
                            <div class="box-sponsor-shadow">
                                <div data-toggle="modal"
                                     data-target="#itemModal"
                                     class="img-fluid image-sponsor-custom"
                                     style="background-image: url(@collectionItem.ImageUrl);">

                                </div>
                                <div class="item-title">
                                    <h3 class="title title-medium" style="text-align:center">
                                        <a class="sponsor-name">@(collectionItem.Name)</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    }
                }
                else if (Model.TypeId == 5)
                {
                    <link href="~/Content/CustomCss/LTSK.css" rel="stylesheet" />

                    foreach (var collectionItem in Model.CollectionItems)
                    {
                        <div class="col-12">
                            <div class="box-ltsk-shadow">
                                <img src="@collectionItem.ImageUrl" alt="Alternate Text" class="image-ltsk-custom" />

                            </div>
                        </div>
                    }
                }
                else if (Model.TypeId == 6)
                {
                    <link href="~/Content/CustomCss/LTSK.css" rel="stylesheet" />

                    foreach (var collectionItem in Model.CollectionItems)
                    {
                        <div class="col-12">
                            <div class="box-ltsk-shadow">
                                <img src="@collectionItem.ImageUrl" alt="Alternate Text" class="image-ltsk-custom" />

                            </div>
                        </div>
                    }
                }
            }
        }

    </div>
}


<div id="itemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-speaker">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title speaker-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div data-toggle="modal"
                     data-target="#itemModal"
                     class="img-fluid image-speaker-custom speaker-img"
                     style="background-image: url(./Content/img/data.jpg);">

                </div>
                @*<img class="speaker-img image-speaker-custom" src="~/Content/img/data.jpg" />*@
                <p class="speaker-description"></p>
            </div>
            <div class="modal-footer">
                @if (Model.TypeId == (int)MyEnum.CollectionType.File)
                {
                    <button class="btn btn-default file-url btn-custom-defaul" data-dismiss="modal"> <i class="fa fa-download" aria-hidden="true"></i>  Tải xuống</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showModalItem(name, description, imgUrl, isFile) {
            $('.speaker-title').html(name);
            var showDescription = description.replace(new RegExp(/\n/, 'g'), '<br/>');
            showDescription= showDescription.replace('--', '<a class="description-url">');
            showDescription= showDescription.replace('---', '</a>');
            $('.speaker-description').html(showDescription);
            $('.description-url').attr('href', $('.description-url').text());
            
            $('.speaker-img').css('background-image', 'url(' + imgUrl + ')');
            if (isFile) {
                $('.file-url').attr('onclick', 'window.open(' + "'" + imgUrl + "'" + ')');
                //$('.speaker-img').attr('src', '/Content/img/data.jpg');
                $('.speaker-img').css('display', 'none');
            }

        }
        var typeId = @(Model.TypeId);

        $(document).ready(function () {
            $('.custom-menu').removeClass('menu-active');
            $('.menu-collection-' + typeId).addClass('menu-active');
        });

    </script>
}


