
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CapstoneProjectClient.ViewModel;
@using HmsService.Models.Entities;
@model EventCollection

<div class="row" style="padding-top: 74px;">
    <div class="col-md-12 text-center voting-title">
        <h3>@(Model.Name)</h3>
    </div>
</div>

@if (Model == null || Model.CollectionItems == null)
{
    <h3 class="text-center">Hiện tại chưa có @(Model.Name)</h3>
}
else
{
    <div class="row custom-row">
        @{
            if(!(bool)Model.IsImage)
            //if (Model.TypeId == (int)MyEnum.CollectionType.File)
            {
                foreach (var collectionItem in Model.CollectionItems)
                {
                    <div class="col-md-4 col-sm-6 col-12" onclick="showModalItem('@(collectionItem.Name)', '@(collectionItem.Description)', '@(collectionItem.ImageUrl)', true)">
                        <div class="box-speaker-shadow">
                            <a href="" data-toggle="modal" data-target="#itemModal">
                                <img class="img-fluid image-file-custom" src="~/Content/img/data.jpg" alt="brand">
                            </a>
                            <div class="item-title">
                                <h3 class="title title-medium" style="text-align:center">
                                    <a class="file-name">@(collectionItem.Name)</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                foreach (var collectionItem in Model.CollectionItems)
                {
                    <div class="col-md-4 col-sm-6 col-12" onclick="showModalItem('@(collectionItem.Name)', '@(collectionItem.Description)', '@(collectionItem.ImageUrl)', false)">
                        <div class="box-speaker-shadow">
                            <a href="" data-toggle="modal" data-target="#itemModal">
                                <img class="img-fluid image-speaker-custom" src="@(collectionItem.ImageUrl)" alt="brand">
                            </a>
                            <div class="item-title">
                                <h3 class="title title-medium" style="text-align:center">
                                    <a class="speaker-name">@(collectionItem.Name)</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </div>
}


<div id="itemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-speaker">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title speaker-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img class="speaker-img image-speaker-custom" src="~/Content/img/data.jpg" />
                <p class="speaker-description"></p>
            </div>
            <div class="modal-footer">
                @if (Model.TypeId == (int)MyEnum.CollectionType.File)
                {
                    <button class="btn btn-default file-url btn-custom-defaul" data-dismiss="modal"> <i class="fa fa-download" aria-hidden="true"></i>  Tải xuống</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showModalItem(name, description, imgUrl, isFile) {
            $('.speaker-title').html(name);
            $('.speaker-description').html(description);
            $('.speaker-img').attr('src', imgUrl);
            if (isFile) {
                $('.file-url').attr('onclick', 'window.open(' + "'" + imgUrl + "'" + ')');
                $('.speaker-img').attr('src', '/Content/img/data.jpg');
            }
            else {
                
            }
        }

    </script>
}


