@{
    ViewBag.Title = "Index";
}

@{
    int sessionId = 1;
    var listSession = Model.Sessions;
    //sessionId = Model.Sessions.FirstOrDefault().SessionID;
    var votingItemList = Model.Votings;
    var qaItemList = Model.QAs;
    int eventId = ViewBag.EventId;
    string curPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}
<div class="container">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <h2 class="col-sm-10">Quản Lý Tương Tác</h2>
                <div class="col-sm-2">
                    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#addInteractionModal" style="margin-top:20px">
                        <i class="fa fa-plus" style="margin-right:7px" aria-hidden="true"></i>Thêm
                    </button>
                </div>
            </div>
            <div class="modal fade" id="addInteractionModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm Tương Tác</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Tên<span class="required">*</span>
                                </label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <input type="text" id="newName" class="form-control" placeholder="Enter Interaction's name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Lựa chọn Tương tác
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </div>
                                    <select id="InteractionSelectBox" class="form-control">
                                        <option>---Chọn---</option>
                                        <option value="1">Bỏ Phiếu</option>
                                        <option value="2">Hỏi Đáp</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 form-control-label">
                                    Loại Tương tác
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </div>
                                    <select Id="KindOfInteractionSelectBox" class="form-control">
                                        <option>---Chọn---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-add" class="btn btn-primary" data-dismiss="modal" style="margin-top:5px">Thêm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ibox-content">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @{
                        int i = 0;
                        foreach (var item in listSession)
                        {
                            <li class="@(i == 0 ? "active" : "")" onclick="InitDatatable(@(i), @item.SessionID); ChangeTabIndex(@(i), @item.SessionID)"><a href="#tab_@(i)" data-toggle="tab">@Html.Raw(item.Name)</a></li>
                            i++;
                        }
                    }
                </ul>
            </div>
            <!--Tab content-->
            <div class="tab-content">
                @{
                    int j = 0;
                    foreach (var item in listSession)
                    {
                        <div class="tab-pane @(j == 0 ? "active" : "")" id="tab_@(j)">
                            <div class="col-sm-6 col-md-6">
                                <div class="tableHeadText" style="text-align:center; margin-bottom:10px; border-bottom:1px solid">Available</div>
                                <table class="table table-hover table-bordered" id="tblInteraction@(j)">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Loại</th>
                                            <th>Chức Năng</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="tableHeadText" style="text-align:center; margin-bottom:10px; border-bottom:1px solid">Đang Chạy</div>
                                <table class="table table-hover table-bordered" id="tblInteractionRunning@(j)">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Loại</th>
                                            <th>Chức Năng</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        j++;
                    }
                }
                <!-- /.tab-pane -->
            </div>

        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Bạn có chắc chắn?</h2>
                </div>
                <div class="modal-body">
                    <h3 class="interaction-del-title"></h3>
                </div>
                <div class="modal-footer">
                    <button id="btn-del" type="button" class="btn btn-default interaction-del-id" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="stopModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Bạn có chắc chắn?</h2>
                </div>
                <div class="modal-body">
                    <h3 class="interaction-stop-title"></h3>
                </div>
                <div class="modal-footer">
                    <button id="btn-stop" type="button" class="btn btn-default interaction-stop-id" data-dismiss="modal">Dừng</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="playModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Bạn có chắc chắn?</h2>
                </div>
                <div class="modal-body">
                    <h3 class="interaction-play-title"></h3>
                </div>
                <div class="modal-footer">
                    <button id="btn-play" type="button" class="btn btn-default interaction-play-id" data-dismiss="modal">Chạy</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="editInteractionModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chỉnh Sửa Tương Tác</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">
                            Tên<span class="required">*</span>
                        </label>
                        <div class="col-sm-9 input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control interaction-name" placeholder="Enter Interaction's name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">
                            Chọn Tương tác
                            <span class="required">*</span>
                        </label>
                        <div class="input-group col-sm-9">
                            <div class="input-group-addon">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </div>
                            <select id="InteractionEditSelectBox" class="form-control">
                                <option>---Chọn---</option>
                                <option value="1">Bỏ Phiếu</option>
                                <option value="2">Hỏi Đáp</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 form-control-label">
                            Kind Interaction
                            <span class="required">*</span>
                        </label>
                        <div class="input-group col-sm-9">
                            <div class="input-group-addon">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </div>
                            <select Id="KindOfInteractionEditSelectBox" class="form-control">
                                <option>---Chọn---</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-save" class="btn btn-primary interaction-id" data-dismiss="modal" style="margin-top:5px">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="tab-index" value="0" />
<input type="hidden" id="session-id" value="@(sessionId)" />

@section scripts {
    <script>
        var urlApi = '@curPath';
        var eventId = @eventId;

    function editInteractionModal(id, name, votingId, qaId) {
        $('.interaction-name').val(name);
        if (votingId != 'null') {
            $('#InteractionEditSelectBox option[value="1"]').attr("selected", "selected");
            $('#KindOfInteractionEditSelectBox').empty();
            $('#KindOfInteractionEditSelectBox').append("<option>---Choose---</option>");
            $('#KindOfInteractionEditSelectBox').append("@{foreach (var item in votingItemList){<option value='@item.VotingId'>@item.VotingName</option>}}");
            $('#KindOfInteractionEditSelectBox option[value="' + votingId + '"]').attr("selected", "selected");
        }
        else if (qaId != 'null') {
            $('#InteractionEditSelectBox option[value="2"]').attr("selected", "selected");
            $('#KindOfInteractionEditSelectBox').empty();
            $('#KindOfInteractionEditSelectBox').append("<option>---Choose---</option>");
            $('#KindOfInteractionEditSelectBox').append("@{foreach (var item in qaItemList){<option value='@item.QAId'>@item.QAName</option>}}");
            $('#KindOfInteractionEditSelectBox option[value="' + qaId + '"]').attr("selected", "selected");
        }
        $('.interaction-id').val(id);

        }


        function stopInteraction(id, name) {
            $('.interaction-stop-id').val(id);
            $('.interaction-stop-title').html("Stop Interaction " + name);
        }


        function delInteraction(id, name) {
            $('.interaction-del-id').val(id);
            $('.interaction-del-title').html("Delete Interaction " + name);
        }


        function playInteraction(id, name) {
            $('.interaction-play-id').val(id);
            $('.interaction-play-title').html("Play Interaction " + name);
        }


        $(document).ready(function () {
            @*var listSessions = @Html.Raw(Json.Encode(listSession))
            if (listSessions != null) {
                InitDatatable(0, listSessions[0]);
            }
            else {
                InitDatatable(0, 0);
            }*@

            $('#InteractionEditSelectBox').on('click', function () {
                var SelectValue = $('#InteractionEditSelectBox').find(":selected").val();
                if (SelectValue == 1) {
                    $('#KindOfInteractionEditSelectBox').empty();
                    $('#KindOfInteractionEditSelectBox').append("<option>---Choose---</option>");
                    $('#KindOfInteractionEditSelectBox').append("@{foreach (var item in votingItemList){<option value='@item.VotingId'>@item.VotingName</option>}}");
                } else if (SelectValue == 2) {
                    $('#KindOfInteractionEditSelectBox').empty();
                    $('#KindOfInteractionEditSelectBox').append("<option>---Choose---</option>");
                    $('#KindOfInteractionEditSelectBox').append("@{foreach (var item in qaItemList){<option value='@item.QAId'>@item.QAName</option>}}");
                } else {
                    $('#KindOfInteractionEditSelectBox').empty();
                    $('#KindOfInteractionEditSelectBox').append("<option>---Choose---</option>");
                }
            });

            $('#InteractionSelectBox').on('click', function () {
                var SelectValue = $('#InteractionSelectBox').find(":selected").val();
                if (SelectValue == 1) {
                    $('#KindOfInteractionSelectBox').empty();
                    $('#KindOfInteractionSelectBox').append("<option>---Choose---</option>");
                    $('#KindOfInteractionSelectBox').append("@{foreach (var item in votingItemList){<option value='@item.VotingId'>@item.VotingName</option>}}");
                } else if (SelectValue == 2) {
                    $('#KindOfInteractionSelectBox').empty();
                    $('#KindOfInteractionSelectBox').append("<option>---Choose---</option>");
                    $('#KindOfInteractionSelectBox').append("@{foreach (var item in qaItemList){<option value='@item.QAId'>@item.QAName</option>}}");
                } else {
                    $('#KindOfInteractionSelectBox').empty();
                    $('#KindOfInteractionSelectBox').append("<option>---Choose---</option>");
                }
            });

        });

        function InitDatatable(index, sessionId) {
            $('#tblInteraction' + index).DataTable({
                ajax: {
                    url: urlApi + "/api/interaction/getAllInteractionNotRunning/" + sessionId,
                    dataSrc: "",
                    "bDestroy": true,
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.interactionName;
                        }
                    },
                    {
                        name: "Type",
                        render: function (data, type, row) {
                            if (row.votingId != null) {
                                return '<p>Voting<p/>';
                            } else if (row.qaId != null) {
                                return '<p>QA<p/>';
                            }
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editInteractionModal" onclick="editInteractionModal(' + row.interactionId + ',\'' + row.interactionName + '\', \'' + row.votingId + '\', \'' + row.qaId + '\')"><i class="fa fa-pencil"></i></button>     ' +
                                '<button class="btn btn-danger btn-sm speaker-id" data-toggle="modal" data-target="#deleteModal" onclick="delInteraction(' + row.interactionId + ',\'' + row.interactionName + '\')"><i class="fa fa-trash"></i></button>       ' +
                                '<button class="btn btn-success btn-sm speaker-id" data-toggle="modal" data-target="#playModal" onclick="playInteraction(' + row.interactionId + ',\'' + row.interactionName + '\')"><i class="fa fa-play" aria-hidden="true"></i></button>';
                        }
                    }
                ]
            });
            $('#tblInteractionRunning' + index).DataTable({
                ajax: {
                    url: urlApi + "/api/interaction/getIsRunningInteraction/" + sessionId,
                    dataSrc: "",
                     "bDestroy": true,
                },
                columns: [
                    {
                        name: "Name",
                        render: function (data, type, row) {
                            return row.interactionName;
                        }
                    },
                    {
                        name: "Type",
                        render: function (data, type, row) {
                            if (row.votingId != null) {
                                return '<p>Voting<p/>';
                            } else if (row.qaId != null) {
                                return '<p>QA<p/>';
                            }
                        }
                    },
                    {
                        name: "Function",
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#stopModal" onclick="stopInteraction(' + row.interactionId + ',\'' + row.interactionName + '\')"><i class="fa fa-stop" aria-hidden="true"></i></button>';
                        }
                    }
                ]
            });
        }

        function ChangeTabIndex(index, sessionId) {
            $('#tab-index').val(index);
            $('#session-id').val(sessionId);

        }
    </script>
}
<script src="~/Content/Interaction/Interaction.js"></script>
