@{ 
    var eventId = ViewBag.EventId;
    var sessionId = ViewBag.SessionId;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/css/bootstrap.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/css/style.default.css" id="theme-stylesheet">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/img/favicon.ico">
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="~/Content/bootstrap/Dashboard/use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="~/Content/bootstrap/Dashboard/file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
    <!--Progress Bar-->
    <link rel="stylesheet" href="~/Content/ProgressBar/css/bootstrap-progressbar-3.3.4.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="~/Content/CustomCss/main.css">
    <link rel="stylesheet" href="~/Content/CustomCss/QA.css">
    <link rel="stylesheet" href="~/Content/CustomCss/sponsor.css">
    <link rel="stylesheet" href="~/Content/CustomCss/speaker.css">
    <link rel="stylesheet" href="~/Content/CustomCss/home.css">
    <link rel="stylesheet" href="~/Content/CustomCss/timeline.css">
    <link rel="stylesheet" href="~/Content/CustomCss/voting.css">
    <link rel="stylesheet" href="~/Content/CustomCss/schedule.css">






    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center">
                    <img src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
                    <h2 class="h5 text-uppercase">Anderson Hardy</h2><span class="text-uppercase">Web Developer</span>
                </div>
                <div class="sidenav-header-logo"><a class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
            </div>
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li class="active"><a href="@Url.Action("Index", "Home", new { eventId = eventId, sessionId = sessionId })"> <i class="icon-home"></i><span>Home</span></a></li>
                    <li> <a href="@Url.Action("Index", "Timeline", new { sessionId = sessionId})"><i class="icon-form"></i><span>Timeline</span></a></li>
                    <li> <a href="@Url.Action("Index", "QA" , new { eventId = eventId, sessionId = sessionId })"><i class="fa fa-question-circle"></i><span>Q&A</span></a></li>
                    <li> <a href="@Url.Action("Index", "Voting" , new { eventId = eventId, sessionId = sessionId })"> <i class="fa fa-check-circle-o"> </i><span>Voting</span></a></li>
                    <li> <a href="@Url.Action("Index", "Livestream", new { eventId = eventId, sessionId = sessionId })"> <i class="fa fa-video-camera"></i><span>Livestream</span></a></li>
                    <li> <a href="@Url.Action("Index", "Speaker", new { eventId = eventId, sessionId = sessionId })"> <i class="fa fa-users"></i><span>Speaker</span></a></li>
                    <li> <a href="@Url.Action("Index", "Sponsor", new { eventId = eventId, sessionId = sessionId })"> <i class="fa fa-users"></i><span>Sponsor</span></a></li>
                    <li> <a href="@Url.Action("Index", "Schedule")"> <i class="fa fa-calendar"></i><span>Schedule</span></a></li>
                    <li> <a href="@Url.Action("Index", "Login")"> <i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                    @*<li>
            <a href="#">
                <i class="icon-mail"></i><span>Demo</span>
                <div class="badge badge-warning">6 New</div>
            </a>
        </li>*@
                </ul>
            </div>
            @*<div class="admin-menu">
                    <ul id="side-admin-menu" class="side-menu list-unstyled">
                        <li>
                            <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
                                <i class="icon-interface-windows"></i><span>Dropdown</span>
                                <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                            </a>
                            <ul id="pages-nav-list" class="collapse list-unstyled">
                                <li> <a href="#">Page 1</a></li>
                                <li> <a href="#">Page 2</a></li>
                                <li> <a href="#">Page 3</a></li>
                                <li> <a href="#">Page 4</a></li>
                            </ul>
                        </li>
                        <li> <a href="#"> <i class="icon-screen"> </i><span>Demo</span></a></li>
                        <li>
                            <a href="#">
                                <i class="icon-flask"> </i><span>Demo</span>
                                <div class="badge badge-info">Special</div>
                            </a>
                        </li>
                        <li> <a href="#"> <i class="icon-flask"> </i><span>Demo</span></a></li>
                        <li> <a href="#"> <i class="icon-picture"> </i><span>Demo</span></a></li>
                    </ul>
                </div>*@
        </div>
    </nav>

    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            @*<li class="nav-item dropdown">
                                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>10 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
                                    </ul>
                                </li>*@
                            <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End navbar-->

        @RenderBody()

        <!--Footer-->
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Your company &copy; 2017-2019</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Design by <a href="https://bootstrapious.com/" class="external">Bootstrapious</a></p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- Javascript files-->

    <script src="~/Content/bootstrap/Dashboard/ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/tether.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/jquery.cookie.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/jquery.validate.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/charts-home.js"></script>
    <script src="~/Content/bootstrap/Dashboard/www.google-analytics.com/analytics.js"></script>
    <script src="~/Content/bootstrap/Dashboard/demo.bootstrapious.com/dashboard/js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!--Signal R-->
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--Progress Bar-->
    <script src="~/Content/ProgressBar/bootstrap-progressbar.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
