
@{
    ViewBag.Title = "Voting";
}
@using HmsService.Models.Entities;

@model Event
@{
    var voting = Model.Sessions.FirstOrDefault(e => e.SessionID == 1).Interactions.FirstOrDefault(e => e.IsRunning == true).Voting;
    var votingQuestion = Model.Votings.FirstOrDefault(e => e.VotingId == voting.VotingId).VotingQuestions.FirstOrDefault(e => e.VotingQuestionId == 1).VotingQuestionContent;
    var listQuestionOptions = Model.Votings.FirstOrDefault(e => e.VotingId == voting.VotingId).VotingQuestions.FirstOrDefault(e => e.VotingQuestionId == 1).VotingOptions;
}

<link href="~/Content/bootstrap/Poll/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Bootstrap Poll Example</h2>
            <br />
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4 col-md-offset-4">
            <div class="user-poll-section">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Question : </strong>@votingQuestion
                    </div>
                    <div class="panel-body">
                        @{
                            int i = 1;
                            foreach (var item in listQuestionOptions)
                            {
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="group-poll" value="@item.VotingOptionId">
                                        <strong>@(i).  </strong>@item.VotingOptionContent
                                    </label>
                                </div>
                                i++;
                            }
                        }
                    </div>
                    <p id="thanks" style="color:green; text-align:center"></p>
                    <div class="text-center">
                        <a id="btn-vote" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-bell"></span> Mark Your Vote</a>
                    </div>
                    <hr />
                    <div id="result" class="panel-body">
                        <h5 class="text-danger">Result Of User Votes :</h5>
                        <input id="votingQuestionId" type="hidden" value="@(listQuestionOptions.FirstOrDefault().VotingQuestionId)" />
                        <hr />
                        <div>
                            @{
                                int j = 1;
                                float s = 0;
                                float[] p = new float[listQuestionOptions.Count + 2];
                                foreach (var item in listQuestionOptions)
                                {
                                    s = s + item.NumberOfVoting.Value;
                                }
                                foreach (var item in listQuestionOptions)
                                {
                                    p[j] = (item.NumberOfVoting.Value / s) * 100;
                                    double n = Math.Round(p[j]);
                                    @item.VotingOptionContent
                                    j++;
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="@n"></div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/bootstrap/Poll/js/processBar.js"></script>
}
@*<script src="~/Content/bootstrap/Poll/js/jquery-1.11.1.js"></script>
    <script src="~/Content/bootstrap/Poll/js/bootstrap.js"></script>*@

