@using HmsService.Models.Entities;
@model QA

@{
    ViewBag.Title = "Q&A";
}

@*<div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>*@

<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Post Question</button>


    <div class="col-md-12 col-xs-12">
        <div class="row">
            <button type="button" class="btn btn-default btn-sm btn-lastest-question">Lastest Question</button> &nbsp;
            <button type="button" class="btn btn-default btn-sm">Hotest Question</button>
        </div>
    </div>

    <div class="col-md-12 col-xs-12">
        <div class="row qa-container" id="qa-container">
            @foreach (var item in Model.Questions)
            {
                <div class="card list-qa">
                    <div class="card main-qa">
                        <span class="username-content">@(item.Username): @(item.QuestionContent)</span>
                        <p class="like-rep">
                            <button class="btn btn-primary btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"> @(item.NumberOfLike)</i></button>
                            <button class="btn btn-success btn-sm btn-reply" data-toggle="modal" data-target="#modalReply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
                        </p>
                        <span class="create-time">@(item.CreateTime)</span>

                    </div>

                    @foreach (var subItem in item.Comments)
                    {
                        <div class="card-header list-answer">
                            <span>@(subItem.Username): </span>
                            <span>@(subItem.CommentContent)</span>
                            <br />
                            <span>@(subItem.CreateTime)</span>
                            <br />
                        </div>
                    }

                </div>
            }

        </div>
    </div>
</div>

<!--Template list QA-->
<div style="display:none;" id="list-qa">
    <div class="card list-qa">
        <div class="card main-qa">
            <span class="username-content"></span>
            <p class="like-rep">
                <button class="btn btn-primary btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"> 0</i></button>
                <button class="btn btn-success btn-sm btn-reply" data-toggle="modal" data-target="#modalReply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
            </p>
            <span class="create-time"></span>

        </div>
    </div>
</div>




<!-- Modal Post New Question -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post Question</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Input your name</label>
                    <input type="text" id="txtUsername" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" id="txtContent"></textarea>
                </div>
                <input type="checkbox" id="btnHiddenUser" /> Post with incognito

            </div>
            <div class="modal-footer">
                <button id="btnSendQuestion" type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Post New Question -->
<div class="modal fade" id="modalReply" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post Reply</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Input your name</label>
                    <input type="text" id="txtUsernameReply" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" id="txtContentReply"></textarea>
                </div>
                <input type="checkbox" id="btnHiddenUser" /> Post with incognito

            </div>
            <div class="modal-footer">
                <button id="btnSendReply" type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script>
        $(function () {
            var url = "http://localhost:59917";
            $.connection.hub.url = url + "/signalr/hubs";


            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#btnSendQuestion').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#txtUsername').val(), $('#txtContent').val());

                    $.ajax({
                        url: "api/Questions",
                        method: "POST",
                        data: {
                            Username: $('#txtUsername').val(),
                            QuestionContent: $('#txtContent').val()

                        },
                        success: function () {
                            $('#txtUsername').val("");
                            $('#txtContent').val("");
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                });

                $('#btnSendQuestion').click(function () {
                    chat.server.send($('#txtUsernameReply').val(), $('#txtContentReply').val());


                });
            });

            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                var listQa = $('#list-qa').clone();
                listQa.find('.username-content').html(name + ": " + message);
                listQa.find('.create-time').html(new Date().toLocaleString("en-GB"));
                listQa.find('.number-of-like').html('0');
                $('#qa-container').append(listQa.html());
            };




        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }



    </script>
}

