<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join.vn</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/LogoMakr_6CVPn5.png">
    <!--Bootstrap CSS-->
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/font-awesome.min.css">
    <!-- Flaticon CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/eventalk/css/font/flaticon.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/css/meanmenu.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/eventalk/css/magnific-popup.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/vendor/slider/css/nivo-slider.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Template/eventalk/vendor/slider/css/preview.css" type="text/css" media="screen">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Template/eventalk/style.css">
    <!--Sweet Alert-->
    <link rel="stylesheet" href="~/Content/bootstrap-sweetalert-master/dist/sweetalert.css">
</head>
<body>


    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header id="home">
            <div id="header-one" class="header-area header-fixed full-width-left-compress light-header">
                <div class="main-menu-area" id="sticker">
                    <div class="container-fluid">
                        <div class="row no-gutters d-flex align-items-center">
                            <div class="col-lg-2 col-md-3 d-none d-lg-block">
                                <div class="logo-area">
                                    <a href="/">
                                        <img class="img-responsive" src="~/Content/img/LogoMakr_7clv31.png" style="width:110px;" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 possition-static">
                                <div class="eventalk-main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navOnePage">
                                            <li class="current">
                                                <a href="#home">Trang chủ</a>
                                            </li>
                                            <li>
                                                <a href="#speakers">Diễn giả</a>
                                            </li>
                                            <li>
                                                <a href="#schedule">Lịch</a>
                                            </li>
                                            <li>
                                                <a href="#register" class="btn-fill color-yellow btn-header" style="position:fixed;top: 0;right: 0;height: 77px;width: 200px;text-align: center;border-color:darkgray;background-color:darkgray;">Đăng kí</a>
                                            </li>
                                            <li>
                                                <a href="#sponsors">Nhà tài trợ</a>
                                            </li>
                                            <li>
                                                <a href="#contact">Liên hệ</a>
                                            </li>
                                            <li>
                                                <a href="#listEvent">Danh sách sự kiện</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Mobile Menu start -->
                                    <nav id="dropdown" class="d-md-none">
                                        <ul id="navOnePage">
                                            <li>
                                                <a href="#home">Trang chủ</a>
                                            </li>
                                            <li>
                                                <a href="#speakers">Diễn giả</a>
                                            </li>
                                            <li>
                                                <a href="#schedule">Lịch</a>
                                            </li>
                                            <li>
                                                <a href="#register" @*style="position:fixed;top: 0;right: 0;height: 77px;width: 200px;text-align: center;border-color:darkgray;background-color:darkgray;"*@>Đăng kí</a>
                                            </li>
                                            <li>
                                                <a href="#sponsors">Nhà tài trợ</a>
                                            </li>
                                            <li>
                                                <a href="#contact">Liên hệ</a>
                                            </li>
                                            <li>
                                                <a href="#listEvent">Danh sách sự kiện</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Mobile Menu End -->
                                </div>
                            </div>
                            @*<div class="col-lg-3 col-md-3 d-none d-lg-block">
                                    <ul class="header-action-items2">
                                        <li>
                                            <a id="btn-register" href="#register" title="Buy Tickets" class="btn-fill color-yellow btn-header">Buy Tickets</a>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End Here -->


        @RenderBody()

        <!-- Footer Area Start Here -->
        <footer>
            <div class="footer-layout1 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a class="footer-logo">
                                <img src="~/Content/img/LogoMakr_6CVPn5.png" alt="logo" class="img-fluid">
                            </a>
                            <p style="text-align:center;">
                                © 2018. All Rights Reserved. Designed by
                                <a>
                                    RadiusTheme
                                </a>
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li>
                                        <a href="#" title="facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="google-plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="linkedin">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="pinterest">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="rss">
                                            <i class="fa fa-rss" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="vimeo">
                                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!--Script Bootstrap-->
    <!-- jquery-->
    <script src="~/Content/Template/eventalk/js/jquery-2.2.4.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Content/Template/eventalk/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Template/eventalk/js/popper.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/Template/eventalk/js/bootstrap.min.js"></script>
    <!-- Nivo slider js -->
    <script src="~/Content/Template/eventalk/vendor/slider/js/jquery.nivo.slider.js"></script>
    <script src="~/Content/Template/eventalk/vendor/slider/home.js"></script>
    <!-- Meanmenu Js -->
    <script src="~/Content/Template/eventalk/js/jquery.meanmenu.min.js"></script>
    <!-- Srollup js -->
    <script src="~/Content/Template/eventalk/js/jquery.scrollUp.min.js"></script>
    <!-- jquery.counterup js -->
    <script src="~/Content/Template/eventalk/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/eventalk/js/waypoints.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Content/Template/eventalk/js/jquery.countdown.min.js"></script>
    <!-- Isotope js -->
    <script src="~/Content/Template/eventalk/js/isotope.pkgd.min.js"></script>
    <!-- Google Map js -->
    @*<script src="../../../../maps.googleapis.com/maps/api/js33b9?key=AIzaSyBgREM8KO8hjfbOC0R_btBhQsEQsnpzFGQ"></script>*@
    <!-- Magnific Popup -->
    <script src="~/Content/Template/eventalk/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/Template/eventalk/js/main.js"></script>
    <!-- One Page menu action JS -->
    <script src="~/Content/Template/eventalk/js/jquery.nav.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="~/Content/Template/eventalk/js/main-one-page.js"></script>
    <script src="~/Content/register.js"></script>
    <!--Sweet Alert-->
    <script src="~/Content/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
    <!--Google Map-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7Meb98e_PppAWoqobk4Ml1rFygPl9eUI&callback=initMap">
    </script>

</body>
</html>
