@using HmsService.Models.Entities;
@model IEnumerable<Event>
@{
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
    var today = DateTime.Today;
    var listIsRunning = Model.Where(e => e.EndTime >= today && e.StartTime <= today).ToList();
    var listUpComming = Model.Where(e => e.StartTime > today).ToList();
    var listHappened = Model.Where(e => e.EndTime < today).ToList();
}

<div class="col-md-12 page-title">
    <span>Danh sách sự kiện</span>

    <!--Button Add New Event-->
    <a class="btn btn-info btn-lg btn-add-new-event" href="@Url.Action("Add","Events")">Tạo mới</a>
</div>
<div class="col-md-12">
    <div class="box box-warning box-is-running">
        <div class="box-header with-border bg-green">
            <h3 class="box-title">Đang diễn ra</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body event-box-body">
            @foreach (var isRunning in listIsRunning)
            {
                <a class="event-link" href="@Url.Action("Index","Home", new { id = isRunning.EventID })">
                    <div class="col-lg-4 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-green event-box">
                            <div class="inner event-title">
                                @Html.Raw(isRunning.Name)
                            </div>
                            <a href="#" class="small-box-footer event-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>

            }
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

<div class="col-md-12">
    <div class="box box-warning collapsed-box">
        <div class="box-header with-border bg-yellow title-up-comming">
            <h3 class="box-title">Sắp diễn ra</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" id="btn-up-comming">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body event-box-body box-body-up-comming collapse">
            @foreach (var upComming in listUpComming)
            {
                <a class="event-link" href="@Url.Action("Index", "Home", new { id = upComming.EventID })">
                    <div class="col-lg-4 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-yellow event-box">
                            <div class="inner event-title">
                                @Html.Raw(upComming.Name)
                            </div>
                            <a href="#" class="small-box-footer event-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>

            }

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

<div class="col-md-12">
    <div class="box box-warning box-happened collapsed-box">
        <div class="box-header with-border bg-gray">
            <h3 class="box-title">Đã diễn ra</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body event-box-body box-body-happened collapse">
            @foreach (var happened in listHappened)
            {
                <a class="event-link" href="@Url.Action("Index", "Home", new { id = happened.EventID })">
                    <div class="col-lg-4 col-xs-4">
                        <!-- small box -->
                        <div class="small-box bg-gray event-box">
                            <div class="inner event-title">
                                @Html.Raw(happened.Name)
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer event-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </a>

            }
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            console.log("AAA");
            $('#btn-up-comming').click();
        });
    </script>
}